
/* NavBar styles */

.navbar {
  height: 60px;
  width: screen;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure the navbar is on top */

}

.navbar-container {

  gap: 40px;
  height: 60px;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.nav-link {
  padding: 0 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  display: flex;

}

.nav-link.active {
  background-color: #7c0000; /* Active state */
  color: white !important;
  height: 60px;
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.navbar-scrolled {
  background-color: #470101;
  transition: background-color 0.3s ease;
}

@import url("https://fonts.googleapis.com/css2?family=Geist+Sans:wght@400;700&family=Geist+Mono:wght@400;700&display=swap");

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* About Me Section */
/*
.AboutMeHeader {
  display: flex; /* Fixed incorrect display value 
  text-align: center;
  align-items: center;
  justify-content: center;

}
.AboutMeHeader-container{
display:flex;
}

.AboutMeBody {
  display: flex; /* Fixed incorrect display value 
  text-align: center;
  align-items: center;
  justify-content: center;

}
*/

